body {
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-decoration: none;
}
h1,h2,h3,h4,a {
  text-transform: uppercase;
  letter-spacing: 1px;

}
h1 {
  font-weight: 400;
  color: #0D2C40;
  text-decoration: underline;
}
h2 {
  color: #0D2C40;
  font-weight: 600;
  font-size: 18px;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;

}

a {
  color: #F15B31;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
